<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- form for getting marks of maths,science,history,poliy and a submit button -->
    <form action="/result" method="post">
        <label for="maths">Maths:</label>
        <input type="text" id="maths" name="maths"><br><br>
        <label for="science">Science:</label>
        <input type="text" id="science" name="science"><br><br>
        <label for="history">History:</label>
        <input type="text" id="history" name="history"><br><br>
        <label for="polity">Polity:</label>
        <input type="text" id="english" name="english"><br><br>
        <input type="submit" value="Submit">
    <!-- display the greeting message -->

</body>
</html>